html,
body {
  height: 100%;
}

body {
  margin: 0px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#quote-container {
  border: solid black 2px;
  height: 300px;
}

#quote-body {
  width: 700px;
  height: auto;
  text-align: center;
  font-size: 24px;
  border: solid red 2px;
}

#quote-author {
  border: solid green 2px;
}
