html,
body {
  height: 100%;
}

body {
  margin: 0px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#1098f7, #00416a);
}

#quote-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  box-sizing: border-box;
  height: 300px;
  width: 700px;
  background-color: #eeeff3;
  border: solid #687791 10px;
  border-radius: 20px;
}

#quote-body {
  margin: 10px;
  height: auto;
  text-align: center;
  font-size: 24px;
  font-family: "Abel", sans-serif;
}

#quote-author {
  margin: 10px;
  text-align: center;
  font-size: 32px;
  font-family: "Italianno", cursive;
}

#quote-btn {
  font-size: 16px;
  margin-top: 25px;
  padding: 8px 16px;
  background: #4085b2;
  color: #fff;
  border-style: none;
  border-radius: 5px;
}

@media (max-width: 720px) {
  #quote-container {
    width: 100vw;
  }
}